{% extends 'base.html' %}

{% block title %}Talk To Me Anytime{% endblock %}

{% block content %}
<section class="section-sm">
	<div class="container">
		<div class="row">
			<div class="col-12">
				{% for email in emails %}
					<div class="title-bordered mb-5 d-flex align-items-center">
						<h1 class="h4">{{ email.comment }}</h1>
						<ul class="list-inline social-icons ml-auto mr-3 d-none d-sm-block">
							<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a>
							</li>
							<li class="list-inline-item"><a href="#"><i class="ti-twitter-alt"></i></a>
							</li>
							<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a>
							</li>
							<li class="list-inline-item"><a href="#"><i class="ti-github"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="content mb-5">
						<h1 id="ask-us-anything-br-or-just-say-hi">{{ email.title }}</h1>
						<p>{{ email.description }}</p>
						<h4 class="mt-5">Hate Forms? Write Us Email</h4>
						<p><i class="ti-email mr-2 text-primary"></i><a href="#">{{ email.email }}</a>
						</p>
					</div>
				</div>
			{% endfor %}
			<div class="col-md-6">
				<form method="POST">
				    {% csrf_token %}
                    {{ form.as_p }}
					<button type="submit" class="btn btn-primary">Send Now</button>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
